@charset "UTF-8";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: normal 15pt Arial;
    background-color: rgb(36, 113, 255);
}

header {
    text-align: center;
    color: #fff;
}

section {
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(30, 64, 216);
    background: #fff;
}

footer {
    text-align: center;
    font-style: italic;
    color: #fff
}