@charset "UTF-8";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: normal 15pt Arial;
    background-color: rgb(36, 113, 255);
}

header {
    text-align: center;
    color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(30, 64, 216);
    background: #fff;
}

#botao {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 50);

    transition: .0.5s;
}

#botao:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px rgb(255, 255, 40);
    transform: scale(1.05);
}

#msg {
    padding: 10px;
    font-size: 1.7rem;
    font-weight: bold;
}

footer {
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    color: #fff
}